body{
    background-image: url(https://www.steunkousgemak.nl/media/catalog/product/cache/6c2a4974f0a6e01d0bfcc68964cf2c5b/t/e/test-page-steve-originals.jpg);
    background-size: cover;


}





h1 {
    font-size: 30;
color:aqua
}



p1{ 

font-size: 20;

}
