
body {
    margin: 0;
    text-align: center;
    background-image: url('https://www.riverwoodpetfood.com/media/nd4d5wmk/shutterstock_319985324.jpg?width=684&height=455&mode=max');
    background-size: cover;
    background-position: center;
    color: black;
}

.header {
    background-color: blue;
    padding: 15px;
}

.header h1 {
    color: yellow;
    font-size: 24px;
    margin: 0;
}


.why-button {
    background-color: yellow;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
}


.why-button:hover {
    background-color: orange;
}


.text-box {
    background-color: lightyellow;
    padding: 10px;
    margin: 20px auto;
    width: 200px;
    border: 1px solid gray;
    text-align: center;
}


.text-box:hover {
    background-color: blue;
}
